
*{
    padding: 0px;
    margin: 0px;
    border: 0px;
}

h1{
    text-align: center;
    display: flex;
    justify-content: space-around;
    background-color: #778899;
    color: white;
}

nav{
    text-align: center;
    display: flex;
    justify-content: space-around;
    margin: 10px;
    font-size: 18px;
    font-weight: bold;
}

.nav-styling{
    padding: 5px 10px;
    border-radius: 5px;
    background-color:#15051a;
    color: white;
    font-size: large;
}