
*{
    padding: 0px;
    margin: 0px;
    border: 0px;
    z-index: 1;
}

h1{
    text-align: center;
    display: flex;
    justify-content: space-around;
    background-color: #3f3f3f;
    color: white;
    position: fixed;
    float: top;
    top: 0px;
    width: 100%;

}
