
    <!-- Section for adding item to To Do List -->

<div class="list-head"> <button class="navbutton2" (click)="toggleVisible()"> To-Do </button></div>

<main class="list" *ngIf="toDoVisible" >
    <div id="displayStyle">


        <div class="div-styling">
            <label for="to-do"></label>
            <input class="textbox-styling" [(ngModel)]="taskToAdd" type="text" name="to-do" placeholder="Enter new task..." />

            <label class="padding" for="priority">Priority: </label>
            <input [(ngModel)]="priority" type="checkbox" name="priority" />

            <span id="tooltip">
                <span id="tooltipText">Add to list</span>
                <button id="tooltip" (click)="addTask()" class="add-button-styling padding" id="add-to-do">  Add </button>
            </span>
        </div>

        <!-- List of To Do Items -->

        <div class="list-styling">
            <table cellspacing="0">
                <thead>
                    <tr>
                        <th>To-do Task</th>
                        <th id="tdwidth">Action Pane</th>
                    </tr>
                </thead>

                  <tbody>
                      <ng-container id="to-do-list" *ngFor="let task of todoList">
                          <tr>
                              <td *ngIf="!task.toEdit">{{ task.message }}</td>
                              <td *ngIf="task.toEdit">
                                  <input [(ngModel)]="taskToEdit" id="edit-input" class="editing-styling"/>
                              </td>
                              <td id="tdwidth" class="tr-alignment">

                                  <ng-container *ngIf="!task.toEdit">
                                      <button class="material-icons" (click)="editTask(task.message, task.id)"> edit</button>
                                      <button class="material-icons" (click)="completeTask(task.id)">done</button>
                                      <button class="material-icons" (click)="deleteTask(task.id)">delete</button>
                                      <button class="material-icons" (click)="moveUp(task.id)">move_up</button>
                                      <button class="material-icons" (click)="moveDown(task.id)">move_down</button>
                                  </ng-container>

                                  <ng-container *ngIf="task.toEdit">
                                      <button class="material-icons" (click)="confirmEdit(task.id)">add_task</button>
                                      <button class="material-icons" (click)="discardEdit()">highlight_off</button>
                                  </ng-container>





                              </td>
                          </tr>
                      </ng-container>
                  </tbody>
            </table>
        </div>
    </div>
</main>
