<app-header (updateVisibilityEvent)="updateListVisibility($event)"></app-header>

<app-to-do-list [toDoVisible]="toDoVisible"
              [taskToIncomplete]="taskToIncomplete"
              (taskCompleteEvent)="completeTask($event)">
              </app-to-do-list>

<app-completed-list [completedVisible]="completedVisible"
                  [taskToComplete]="taskToComplete"
                  (taskIncompleteEvent)="incompleteTask($event)">
                  </app-completed-list>

<app-my-favorite-list></app-my-favorite-list>

<router-outlet></router-outlet>

<app-footer></app-footer>
