
<!-- Section for adding item to To Do List -->

<main class="list">
    <div id="displayStyle">

        <div class="div-styling">

            <label for="completed"></label>
            <textarea class="textbox-styling" [(ngModel)]="taskToAdd" type="text" name="completed" placeholder="Enter COMPLETED task..."></textarea>

          <div class="text-area-buttons completelist-button">
            <span class="tooltip">
                <span class="tooltipText">Add to list</span>
                <button (click)="addTask()" class="tooltip add-completed" class="material-icons add-button-style favorite-Styling"> post_add </button>
            </span>
          </div>
        </div>

        <!-- List of To Do Items -->

        <table class="list-styling" cellspacing="0">

            <thead >
                <tr>
                    <th class="table-styling">Completed Task</th>
                    <th id="tdwidth" class="table-styling">Action Pane</th>
                </tr>
            </thead>

            <tbody>
                <ng-container *ngFor="let task of completedList" id="completed-list">
                    <tr>
                        <td *ngIf="!task.toEdit" class="table-styling">{{ task.message }}</td>
                        <td *ngIf="task.toEdit"> <input [(ngModel)]="taskToEdit" class="editing-styling"/> </td>
                        <td id="tdwidth" class="table-styling tr-alignment">

                            <ng-container *ngIf="task.toEdit">
                                <button (click)="confirmEdit(task.id)" class="material-icons">add_task</button>
                                <button (click)="discardEdit()" class="material-icons">highlight_off</button>
                            </ng-container>

                            <ng-container *ngIf="!task.toEdit">
                                <button (click)="editTask(task.message, task.id)" class="material-icons">edit</button>
                                <button (click)="incompleteTask(task.id)" class="material-icons">redo</button>
                                <button (click)="deleteTask(task.id)" class="material-icons">delete</button>
                                <span class="tooltip">
                                    <span class="tooltipText">Add/Remove from favorite</span>
                                    <button *ngIf="!task.favorite" (click)="toggleListFavorite(task.id)" class="material-icons add-button-style">star_border</button>
                                    <button *ngIf="task.favorite" (click)="toggleListFavorite(task.id)" class="material-icons favorite-pressed add-button-style">star</button>
                                </span>
                            </ng-container>

                        </td>
                    </tr>
                </ng-container>
            </tbody>

        </table>
    </div>
</main>
