
<!-- Section for adding item to To Do List -->

<main class="list">
    <div id="displayStyle">
        <div style="text-align: center;"><h2>Completed Task</h2></div>

        <div class="div-styling">
            <label for="completed"></label>
            <input class="textbox-styling" [(ngModel)]="taskToAdd" type="text" name="completed" placeholder="Enter completed task..." />
            <span id="tooltip">
                <span id="tooltipText">Add to list</span>
                <button (click)="addTask()" class="add-button-styling padding" id="add-completed"> Add </button>
            </span>
        </div>

        <!-- List of To Do Items -->

        <div class="list-styling">
            <table cellspacing="0">
                <thead >
                    <tr>
                        <th class="table-styling">To-do Task</th>
                        <th id="tdwidth" class="table-styling">Action Pane</th>
                    </tr>
                </thead>
                <tbody>
                    <ng-container id="completed-list" *ngFor="let task of completedList">
                        <tr>
                            <td *ngIf="!task.toEdit" class="table-styling">{{ task.message }}</td>
                            <td *ngIf="task.toEdit">
                                <input [(ngModel)]="taskToEdit" class="editing-styling"/>
                            </td>
                            <td id="tdwidth" class="table-styling tr-alignment">
                                <button *ngIf="!task.toEdit" onclick="" class="material-icons" (click)="editTask(task.message, task.id)">edit</button>
                                <ng-container *ngIf="task.toEdit">
                                    <button class="material-icons" (click)="confirmEdit(task.id)">add_task</button>
                                    <button class="material-icons" (click)="discardEdit()">clear</button>
                                </ng-container>
                                <ng-container *ngIf="!task.toEdit">
                                    <span> <button class="material-icons" (click)="incompleteTask(task.id)">redo</button> </span>
                                    <span> <button class="material-icons" (click)="deleteTask(task.id)">delete</button> </span>
                                </ng-container>
                            </td>
                        </tr>
                    </ng-container>
                </tbody>
            </table>
        </div>
    </div>
</main>
