<!-- NGIF FALSE UNTIL WE GET IT WORKING COMPLETELY -->
<div class="list-head"> <button (click)="toggleVisible()" class="navbutton2"> My Favorite List</button> </div>

<main *ngIf="visible" class="list">

    <div id="displayStyle">

        <!-- List of To Do Items -->

        <table class="list-styling" cellspacing="0">

            <thead>
                <tr>
                    <th>Favorite Task</th>
                    <th id="tdwidth">Action Pane</th>
                </tr>
            </thead>

            <tbody>

                <ng-container *ngFor="let task of favoriteList" id="to-do-list">
                    <tr>
                        <td *ngIf="!task.toEdit" class="table-styling">{{ task.message }}</td>
                        <td *ngIf="task.toEdit"> <input [(ngModel)]="taskToEdit" class="editing-styling"/> </td>
                        <td id="tdwidth" class="tr-alignment">

                            <button *ngIf="!task.toEdit" class="material-icons">edit</button>
                            <button *ngIf="task.toEdit" class="material-icons">add_task</button>
                            <button (click)="deleteTask(task.id)" class="material-icons">delete</button>

                        </td>
                    </tr>
                </ng-container>
            </tbody>

        </table>
    </div>

    </main>
