<main *ngIf="visible" class="list">

    <div id="displayStyle">
        <div style="text-align: center"><h2>My Favorite List</h2></div>

        <!-- List of To Do Items -->

        <table class="list-styling" cellspacing="0">

            <thead>
                <tr>
                    <th>To-do Task</th>
                    <th id="tdwidth">Action Pane</th>
                </tr>
            </thead>

            <tbody>
                <ng-container *ngFor="let task of favoriteList" id="to-do-list">
                    <tr>
                        <td *ngIf="!task.toEdit">{{ taskToEdit }}</td>
                        <td *ngIf="task.toEdit"> <input [(ngModel)]="task.message" class="editing-styling"/> </td>
                        <td id="tdwidth" class="tr-alignment">

                            <button *ngIf="!task.toEdit" class="material-icons">edit</button>
                            <button *ngIf="task.toEdit" class="material-icons">add_task</button>
                            <button (click)="deleteTask(task.id)" class="material-icons">delete</button>

                        </td>
                    </tr>
                </ng-container>
            </tbody>

        </table>
    </div>

    </main>
