*{
    margin: 0px;
    padding: 0px;
    border: 0px;
}

body{
    background-color: 	#E7F3EF;
    
}

h2{
    text-align: center;
    margin-top: 50px;
    background-color: #CD853F;
    padding: 5px 15px;
    margin-bottom: 5px;
    border-radius: 5px;
    color: white;
    display: inline-block;
}

input{
    font-size: 15px;
    padding: 4px;
    font-size: large;
    background-color: #FAEBD7;
}

.textbox-styling{
    width: 80%;    
}

button{
    padding: 4px;
    margin-bottom: 3px;
    border-radius: 10px;
    border: 1px solid;
    box-shadow: 0px 3px 0px 0px rgb(77, 115, 138);  
}

button:hover{
    background-color: #800000;
}

button:active{
    transform: translateY(3px);
    box-shadow: 0px 1px 0px 0px rgb(67, 88, 93);
}

.add-button-styling{
    padding: 4px 10px;
    background-color: #23483C;
    color: white;
    border: 0px;
}

.material-icons{
    color: white;
    background-color: #23483C; 
    border: 0px;
    width: 40px;
}

table{
    margin-top: 10px;
    margin-bottom: 40px;
    width: 100%;
    border: 1px solid;
    background-color: #FAEBD7;
}

.editing-styling{
    width: 100%;
    
}

th{
    border-bottom: 1px solid;
    font-size: 20px;
    font-weight: bold;
    padding: 5px;
    background-color: #448D76;
    

}

tr{
    border: 1px solid black;
}

.tr-alignment{
    text-align: end;
}

td{
    padding: 2px;
    border-bottom: 1px solid;
    text-align: center;
    font-size: large;
}


span{
    padding-left: 3px;
}



.div-styling{
    padding: 10px;
    border: 1px solid;
    border-radius: 10px;
    background-color: #448D76;
}

#tdwidth{
    width: 215px;
}

#tooltip{
    position:absolute;
    cursor: pointer;
    
    padding: 4px;
    font-size: 18px;
    font-weight: bold;
    width: 30px;
}

#tooltipText{
    position: absolute;
    left: 95%;
    top: 0px;
    transform: translateX(-50%);
    border: 1px solid;
    color: #000;
    white-space: nowrap;
    padding: 4px 10px;
    border-radius: 5px;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.5s ease ;
}

#tooltipText::before{
    content: "";
    position: absolute;
    left: 50%;
    top: 100%;
    transform: translateX(-50%);
    border: 10px solid;
    border-color: #000 rgba(214, 203, 203, 0) #0000 #0000;
    
}

#tooltip:hover #tooltipText{
    top: -130%;
    visibility: visible;
    opacity: 1;
}

.padding{
    margin-left: 10px;
}

.pad{
   text-align: center;
}



